@font-face {
    font-family: 'toppan';
    src: url('https://cdn.jsdelivr.net/gh/sincerely-yrs/Toppan@master/Toppan.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/sincerely-yrs/Toppan@master/Toppan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


